.MenuButton {
    width: 40px;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.MenuButton div {
    width: 85%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .MenuButton {
        display: none;
    }
}